@page "{rsslink?}"
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="text-center">
	<h1 class="display-4">RSS Viewer</h1>
	<h4>RSSfeed:</h4>
	
	<table>
		<tr>
			<th>Title</th>
			<th>PublicationDate</th>
		</tr>
		@foreach (var item in Model.RSSViewModels)
		{
			<tr>
				<td><a href="@item.ArticleLink">@item.Title</a></td>
				<td>@item.PublicationTime.ToString("dd-MM-yyyy")</td>
			</tr>
		}
	</table>
</div>
